@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gilroy_bold";
  src: url("/public/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "gilroy";
  src: url("/public/fonts/Gilroy-Light.otf") format("opentype");
}

:root {
  --navy: #14213d;
  --crimson: #dc143c;
  --yellow: #fca311;
  --gray: #e5e5e5;
  --white: #fff;
  --black: #181818;
  --clear: #00000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 16px;
  cursor: none;
  background-color: #181818;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

.cursor-dot {
  width: 13px;
  height: 13px;
  background-color: #fca311;
}

.cursor-outline {
  width: 48px;
  height: 48px;
  border: 1px solid #fca311;
}

.cursor-dot,
.cursor-outline {
  cursor: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 500;
  pointer-events: none;
}

/* .link-styles {
  .heading1-menu-item {
    font-size: var(--fs-900);
    color: var(--yellow);
    font-family: var(--ff-primary);
    letter-spacing: var(--letter-spacing-l);
    line-height: 1.7;
    text-decoration: none;

    &.page-transition-anim {
      transition: letter-spacing 0.15s ease-in-out;

      &:hover {
        letter-spacing: 0.65em;
      }
      &.w--current {
        font-weight: 150;
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        text-decoration-skip-ink: none;
        transition: none;
        letter-spacing: var(--letter-spacing-l);
      }
    }
  }
} */
